

<div class="mt-20 relative overflow-x-auto">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Name
                </th>
                <th scope="col" class="px-6 py-3">
                    Surname
                </th>
                <th scope="col" class="px-6 py-3">
                    Seniority
                </th>
                <th scope="col" class="px-6 py-3">
                    Years
                </th>
                <th scope="col" class="px-6 py-3">
                    Availability
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700" *ngFor="let candidate of candidates">
                <th class="px-6 py-4 text-center">
                    {{candidate.firstName}}
                </th>
                <td class="px-6 py-4 text-center">
                    {{candidate.lastName}}
                </td>
                <td class="px-6 py-4 text-center">
                    {{ candidate.seniority === 'junior' ? 'Junior Developer' : 'Senior Developer' }}
                </td>
                <td class="px-6 py-4 text-center">
                    {{candidate.years}}
                </td>
                <td class="px-6 py-4 text-center">
                    {{candidate.availability ? '✓' : 'X'}}
                </td>
            </tr>
        </tbody>
    </table>
</div>
